body {
  background-color: antiquewhite;
}
.container {
  width: 1000px;
  height: 500px;
  background-color: #eee;
  display: flex;
  gap: 10px;
  user-select: none;
}
.container > div {
  width: 50%;
  height: 100%;
  background-color: rgb(19, 41, 116);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
}
.cell {
  background-color: #fabd7f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell:hover {
  background-color: #eee;
}
.cell.ship {
  background-color: #65adce;
}
.cell.missed {
  background-color: #525252;
}
.cell.hit {
  background-color: #ff7e7e;
}
.cell.stuck {
  background-color: #651d7a;
}
